@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #e7e5e4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
  -webkit-appearance: none;
  appearance: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
  border-radius: 5px;
  background: #0c0c0c;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #2384ff;
  border-radius: 5px;
}

#radio_button::-webkit-scrollbar {
  /* width: 1px; */
  height: 2px;
  border-radius: 5px;
  background: none;
}
#radio_button::-webkit-scrollbar-track {
  border-radius: 5px;
}
#radio_button::-webkit-scrollbar-thumb {
  background: #2384ff;
  border-radius: 5px;
}
