# Configure your .env file with the following variables

MODE=development # production, development

# Ports
SERVER_PORT=4000 # 4000, 8080
SOCKET_HOST=http://localhost:4000/ws # http://localhost:4000/ws, https://example.com/ws
SERVER_HOST=http://localhost:4000 # http://localhost:4000, https://example.com

# Deploy
IMAGE_URL=gcr.io/example # gcr.io/example, example
REGION=europe-west1 # europe-west1, europe-west2
MAX_INSTANCES=1 # 1, 2, 3, 4, 5
CPU=1 # 1, 2, 4, 8
MEMORY=2Gi # 2Gi, 4Gi, 8Gi, 16Gi, 32Gi, 64Gi, 96Gi, 128Gi
TIMEOUT=30s # 30s, 1m, 5m, 10m, 15m, 30m, 1h, 2h, 3h, 4h, 5h, 6h, 7h, 8h, 9h, 10h, 11h, 12h

# Supabase
SUPA_URL=https://example.supabase.co # https://example.supabase.co
SUPA_KEY=abc.def.ghi # abc.def.ghi